.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: black;
  border-bottom: 1px solid #ededed;
}
.todo-item__checkbox {
  position: absolute;
  width: 35px;
  height: 35px;
  margin: 0 10px;
  padding: 0;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
}
.todo-item__content {
  width: 100%;
  text-decoration: none;
  transition: color 0.4s;
  padding-left: 60px;
}
.todo-item_remove-btn {
  background-color: #fff;
  color: #cc9a9a;
  font-size: 30px;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  padding: 0;
  outline: none;
  border: none;
}
.todo-item__content_checked {
  text-decoration: line-through;
  color: #d9d9d9;
}
.todo-item_remove-btn::after {
  content: "×";
  color: #cc9a9a;
  visibility: hidden;
  transform: rotate(45deg);
  transition: color 0.2s ease-out;
}
.todo-item:hover .todo-item_remove-btn::after {
  visibility: visible;
}
.todo-item_remove-btn:hover::after {
  color: #a83333;
}
.todo-item__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  position: absolute;
}
.todo-item__checkbox:checked {
  content: "";
  background: url("/src/assets/images/todoItem/check-mark.svg") no-repeat;
  background-size: 36px;
  background-position: -7px 0px;
  border-radius: 50%;
  display: block;
}
